.header {
  width: 100%;
  display: flex;
  background-color: black;
  max-height: 90px;
  display: flex;
  justify-content: center;
}

.header .headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 21px 30px;
  align-items: center;
  max-width: 1920px;
}

.header .headerContainer .headerLeftSection {
  display: flex;
  align-items: center;
  font-size: var(--text_s);
  max-width: 643px;
  width: 100%;
  justify-content: space-between;
}

.header .headerContainer .headerLeftSection .headerLogo {
  width: 15rem;
  height: 3rem;
  background-color: var(--black_900);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .headerContainer .headerLeftSection .headerNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 0.6rem;
  align-items: center;
  max-width: 372px;
  margin-bottom: 0px;
}

.header .headerContainer .headerLeftSection .headerNav .navLink {
  color: var(--gray);
  font-weight: bold;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--white_900);
  padding-bottom: 3px;
  position: relative;
}

.header .headerContainer .headerLeftSection .headerNav .navLink .soonIcon {
  padding: 2px 15px;
  background: linear-gradient(90.03deg, #0bf1ac -41.61%, #058465 105.53%);
  border-radius: 5px;
  max-width: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--white_900);
  position: absolute;
  top: -14px;
  right: -58px;
}

.header .headerContainer .headerLeftSection .headerNav .navLink .hoverEffect {
  width: 137px;
  height: 16px;
  position: absolute;
  bottom: -18px;
  left: -30px;
  transition: 0.3s;
}

.header .headerContainer .headerLeftSection .headerNav .navLink:hover .hoverEffect {
  background: var(--hover_effect);
  filter: blur(10px);
}

.header .headerContainer .headerLeftSection .headerNav .navLink:hover {
  color: var(--medium_green);
  border-bottom: 2px solid var(--medium_green);
}

.header .headerContainer .headerLeftSection .headerNav .activeNavLink {
  text-decoration: none;
  color: var(--medium_green);
  font-weight: bold;
  position: relative;
  border-bottom: 2px solid var(--medium_green);
}

.header .headerContainer .headerLeftSection .headerNav .activeNavLink .hoverEffect {
  width: 137px;
  height: 16px;
  position: absolute;
  bottom: -18px;
  left: -30px;
  transition: 0.3s;
  background: var(--hover_effect);
  filter: blur(10px);
}

.header .headerContainer .headerLeftSection .headerNav .navItem {
  padding: 0.1rem;
  border: 1px solid var(--black_900);
  border-radius: 20%;
  display: flex;
  align-items: center;
  max-height: 1.9rem;
}

.header .headerContainer .headerRightSection {
  display: flex;
  align-items: center;
  column-gap: 27px;
  max-width: 340px;
  width: 100%;
  font-size: var(--text_s);
  justify-content: space-between;
}

.header .headerContainer .headerRightSection .walletPageNavButton {
  background-image: url(../../../public/images/walletIcon.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 40px;
  border-radius: 10px;
  transition: 0.3s;
  border: 1px solid var(--sidebar_green);
  cursor: pointer;
}

.header .headerContainer .headerRightSection .walletPageNavButton:hover {
  color: #00ffb2;
}

.header .headerContainer .walletModal .walleteNavItems {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.connectWalletBtn {
  width: 100%;
  max-width: 210px;
  border-radius: 10px;
  padding: 15px 24px;
  background-color: var(--footer_icons_col);
  transition: 0.3s;
  border: 1px solid var(--footer_icons_col);
  display: flex;
  column-gap: 9px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.connectWalletBtn .hoverEffect {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 17px;
  top: 6px;
}

.connectWalletBtn .connectWalletIcon {
  width: 24px;
  height: 24px;
}

.connectWalletBtn:hover {
  border: 1px solid var(--medium_green);
}

.connectWalletBtn:hover > span {
  color: var(--medium_green);
}

.connectWalletBtn:hover .hoverEffect {
  background: var(--hover_effect);
  filter: blur(10px);
}

.connectWalletBtn > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--white_900);
  transition: 0.3s;
}
