.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: var(--footer_icons_col);
  border-radius: 15px;
  padding: 61px 0 40px 0;
}

.container .walletSection {
  width: 100%;
  justify-content: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.container .walletSection .modalTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white_900);
  margin-bottom: 6px;
}

.container .walletSection .modalDescription {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray_100);
  opacity: 0.7;
  margin-bottom: 32px;
}

.container .walletSection .walletModalImg {
  width: 76px;
  height: 88px;
}

.container .walletSection .walletButton {
  display: flex;
  flex-direction: column;
  row-gap: 0.62rem;
  max-width: 371px;
  width: 100%;
}

.container .walletSection .conditions {
  border: 1px solid #3f3f3f;
  padding: 5px;
  width: 100%;
}

.container .walletSection .conditions span {
  display: block;
  text-align: left;
  font-size: 0.85rem;
}

.notifySwitchBtn {
  font-weight: bold;
  color: #277fd1;
}

.notifySwitchBtn:hover {
  text-decoration: underline;
}
