.mobileCover {
  .hamburgerButton {
    color: white;
    margin-right: 15px;
    min-width: 30px;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobileSidebarDrawer {
  width: 320px;
  height: 100%;
  .MuiBox-root {
    background: #00cc8e;
    background: -webkit-linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    background: linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    padding-bottom: 20px;
  }
  .mobileLeftSidebar {
    width: 320px;
    height: 100%;
    padding: 30px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 10px !important;
    background: #00cc8e;
    background: -webkit-linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    background: linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    .container {
      width: fit-content;
      display: flex;
      flex-direction: column;
      padding-top: 60px;

      .closeDrawer {
        width: 100%;
        min-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: 0.9);
        display: flex;
        justify-content: flex-end;
        padding: 20px 10px;
        z-index: 40;

        .close {
          color: var(--white_900);
        }
      }
      .sidebarNav {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        .navLink {
          display: flex;
          align-items: center;
          column-gap: 12px;
          background: none;
          outline: none;
          border: none;
          width: auto;
          font-weight: bold;
          cursor: pointer;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: var(--white_900);
          padding-bottom: 3px;
          position: relative;
          &.disabled {
            pointer-events: none;
            opacity: 0.7;
            cursor: not-allowed;
          }
          .soonIcon {
            padding: 2px 8px;
            background: linear-gradient(90.03deg, #0bf1ac -41.61%, #058465 105.53%);
            border-radius: 5px;
            max-width: 60px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: var(--white_900);
            position: absolute;
            top: -14px;
            right: -45px;
          }
          .hoverEffect {
            width: 137px;
            height: 16px;
            position: absolute;
            bottom: -18px;
            left: -30px;
            transition: 0.3s;
          }
        }
        .activeNavLink {
          text-decoration: none;
          color: var(--medium_green);
          font-weight: bold;
          position: relative;
          .hoverEffect {
            width: 137px;
            height: 16px;
            position: absolute;
            bottom: -18px;
            left: -30px;
            transition: 0.3s;
            background: var(--hover_effect);
            filter: blur(10px);
          }
        }

        .sidebarButton {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border-radius: 10px;
          border: 1.5px solid var(--white_900);
          width: 210px;
          height: 50px;
          transition: 0.3s;
          color: var(--white_900);
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          cursor: pointer;
        }

        .activeTab {
          background-color: inherit;
          color: var(--medium_green);
          border: 1.5px solid var(--medium_green);
        }
      }

      &.second {
        padding-top: 0;
      }
    }
  }
}
