.oddsButton {
  background-image: url(../../../assets/images/repeatIcon.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--footer_icons_col);
  cursor: pointer;
  position: relative;
  &:hover {
    background-image: url(../../../assets/images/activeRepeatIcon.png);
    .hoverEffect {
      background: var(--hover_effect);
      filter: blur(10px);
    }
  }
}

.ant-dropdown-menu-submenu-title {
  padding: 0px !important;
  background: var(--footer_icons_col);
}
.ant-dropdown-menu {
  position: absolute !important;
  max-height: 300px;
  right: 0;
  border-radius: 10px !important;
  padding: 4px !important;
  background: var(--footer_icons_col) !important;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .ant-dropdown-menu-item-selected {
    background: var(--odds_bg_col) !important;
  }
  .ant-dropdown-menu-item {
    white-space: nowrap;
    width: 100%;
    padding: 9px 55px 10px 15px;
    background: var(--footer_icons_col);
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white_900);
    transition: 0.3s !important;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background: var(--odds_bg_col);
    }
  }
}
.ant-dropdown-show-arrow.ant-dropdown-placement-bottomRight {
  .ant-dropdown-arrow:before {
    background: var(--footer_icons_col);
  }
}
.triangle {
  display: none;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  z-index: -20;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #2c2c2e;
}

.hoverEffect {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 5px;
}
