.betSlipTabContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.betSlipTabContainer p {
  margin: 0;
}

.betSlipTabContainer .betSlipTab {
  width: 100%;
  display: block;
  filter: drop-shadow(0 8px 40px rgba(0, 0, 0, 0.8));
}

.betSlipTabContainer .betSlipTab .tabPanelContainer {
  margin: 0 auto;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.betSlipTabContainer .betSlipTab .tabPanelContainer .tabs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.betSlipTabContainer .betSlipTab .tabPanelContainer .tabs .soonIcon {
  padding: 0.5px 8px;
  background: linear-gradient(90.03deg, #0bf1ac -41.61%, #058465 105.53%);
  border-radius: 5px;
  max-width: 60px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: var(--white_900);
  position: absolute;
  z-index: 20;
  top: -12px;
  right: -14px;
}

.betSlipTabContainer .betSlipTab .tabPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.betSlipTabContainer .betSlipTab .tabPanel .selectedBet {
  width: 100%;
  background: var(--footer_icons_col);
  min-height: 60px;
  border-radius: 8px;
  padding: 8px;
  color: var(--white_900);
  font-size: 14px;
  line-height: 18px;
}

.betSlipTabContainer .betSlipTab .tabPanel .selectedBet p,
.betSlipTabContainer .betSlipTab .tabPanel .selectedBet span {
  opacity: 0.7;
}

.betSlipTabContainer .betSlipTab .tabPanel .selectedBet .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.betSlipTabContainer .betSlipTab .tabPanel .selectedBet .top .title p {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.betSlipTabContainer .betSlipTab .tabPanel .selectedBet .odds {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.betSlipTabContainer .betSlipTab .tabPanel .selectedBet .odds span {
  opacity: 1;
  font-weight: bold;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta {
  width: 100%;
  padding: 10px 8px;
  background: var(--bet_info_bg_col);
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: var(--white_900);
  font-size: 14px;
  line-height: 18px;
  border-radius: 8px;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta p,
.betSlipTabContainer .betSlipTab .tabPanel .cta span {
  opacity: 0.7;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .betInput {
  width: 100%;
  height: 40px;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .betInput label {
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  border: 1px solid var(--footer_icons_col);
  background: var(--bet_info_bg_col);
  border-radius: 8px;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .betInput label .inputContainer {
  flex: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .betInput label .inputContainer input {
  width: 100%;
  height: 100%;
  padding-right: 8px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white_900);
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  font-weight: 500;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .betInput label .inputContainer .betAmountPlaceholder {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--white_900);
  opacity: 0.7;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .betInput label .currency {
  font-weight: bold;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .quickBet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .quickBet .quickBetButton {
  background: var(--footer_icons_col);
  max-width: 67px;
  height: 26px;
  color: var(--medium_green);
  font-weight: 600;
  font-weight: 16px;
  border-radius: 100px;
  border-color: transparent;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .quickBet .quickBetButton:hover {
  border: 1px solid var(--medium_green);
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .quickBet .quickBetButton.active {
  color: var(--white_900);
  background: var(--medium_green);
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .quickBet .quickBetButton.disabled {
  background: var(--footer_icons_col);
  color: var(--white_900);
  opacity: 0.5;
  border: none;
  cursor: not-allowed;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .possibleWin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .possibleWin .value {
  color: var(--medium_green);
  opacity: 1;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .ctaButton {
  max-width: 100%;
  border: 1px solid var(--medium_green);
  color: var(--medium_green);
  font-weight: 600;
  font-weight: 16px;
  border-radius: 8px;
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .ctaButton:hover {
  background: var(--medium_green);
  color: var(--white_900);
}

.betSlipTabContainer .betSlipTab .tabPanel .cta .ctaButton.disabled {
  background: var(--footer_icons_col);
  color: var(--white_900);
  opacity: 0.5;
  border: none;
  cursor: not-allowed;
}

.comboPrompt {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
  font-weight: 500;
  color: var(--white_900);
}

.comboPrompt p {
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
}

.comboPrompt span {
  opacity: 0.7;
  font-size: 14px;
  line-height: 18px;
}
