.settingsIcon {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--sidebar_green);
  &:hover {
    background-color: var(--sidebar_green_hover);
  }
  img {
    width: 90%;
    height: 90%;
  }
}
.settingsContainer {
  width: 300px;
  height: 300px;
}
