.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  border-radius: 25px;
  min-height: 625px;
  padding: 0;

  .rampWidget {
    border: 0;
    outline: none;
    min-width: 350px;
    width: 100%;
    height: 100%;
    min-height: 625px;
    border-radius: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
