.section {
  display: flex;
  column-gap: 1rem;
}

.section .leftSidebar {
  max-width: 17.5rem;
  width: 100%;
  padding: 0.5rem;
}

.section .leftSidebar .container {
  display: flex;
  flex-direction: column;
  row-gap: 0.94rem;
}

.section .leftSidebar .container .leagues {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.section .leftSidebar .container .nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
  margin-left: 2rem;
}

.section .cards {
  width: 50%;
}
