.transactionsBtn {
  background-image: url(../../../public/images/transactionsIcon.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 40px;
  border-radius: 10px;
  transition: 0.3s;
  border: 1px solid var(--sidebar_green);
  cursor: pointer;
}

.transactionsBtn:hover {
  border-color: #00ffb2;
}

.transactionsContainer {
  width: 300px;
  height: 300px;
}
