.mobileCover {
  .hamburgerButton {
    color: white;
    margin-right: 15px;
    min-width: 30px;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobileSidebarDrawer {
  width: 320px;
  height: 100%;
  .MuiBox-root {
    background: #00cc8e;
    background: -webkit-linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    background: linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    padding-bottom: 20px;
  }
  .mobileLeftSidebar {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 10px !important;
    background: #00cc8e;
    background: -webkit-linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    background: linear-gradient(0deg, #00cc8e 0%, #000000 100%);
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;
      row-gap: 0.94rem;
      padding-top: 60px;
      .closeDrawer {
        width: 100%;
        min-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: 0.9);
        display: flex;
        justify-content: flex-end;
        padding: 20px 10px;
        z-index: 40;

        .close {
          color: var(--white_900);
        }
      }
      .nav {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .homeLiveButton {
          max-width: 210px;
          background-color: transparent;
          border-radius: 10px;
          border: 1.5px solid var(--white_900);
          width: 100%;
          transition: 0.3s;
          color: var(--white_900);
          padding: 10px 23px;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          column-gap: 13px;
          .homeLiveButtonIcon {
            color: var(--white_900);
          }
          &:hover {
            border: 1.5px solid var(--medium_green);
            color: var(--medium_green);
            background-color: inherit;

            .homeLiveButtonIcon {
              color: var(--medium_green);
            }
          }
        }
        .activeTab {
          background-color: inherit;
          border: 1.5px solid var(--medium_green);
          color: var(--medium_green);

          .homeLiveButtonIcon {
            color: var(--medium_green);
          }
        }
      }

      .nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.8rem;
      }
    }
  }
}
