.container {
  display: flex;
  flex-direction: column;
}

.container .contentSection {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.container .contentSection img {
  margin-bottom: 12px;
}

.container h1 {
  color: var(--black_900);
  font-size: 2.6rem;
  margin: 0;
}
