.section {
  display: flex;
  column-gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--bg_col);
  margin: 0 auto;
  min-height: calc(100vh - 90px);
}

.section .leftSidebar {
  width: 320px;
  height: calc(100vh - 90px);
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 10px !important;
  background: #00cc8e;
  background: linear-gradient(0deg, #00cc8e 0%, #000000 100%);
  display: flex;
  justify-content: center;
}

.section .leftSidebar .container {
  display: flex;
  flex-direction: column;
  row-gap: 0.94rem;
}

.section .leftSidebar .container .nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.section .leftSidebar .container .nav .homeLiveButton {
  max-width: 210px;
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid var(--white_900);
  width: 100%;
  transition: 0.3s;
  color: var(--white_900);
  padding: 10px 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  column-gap: 13px;
}

.section .leftSidebar .container .nav .homeLiveButton .homeLiveButtonIcon {
  color: var(--white_900);
}

.section .leftSidebar .container .nav .homeLiveButton:hover {
  border: 1.5px solid var(--medium_green);
  color: var(--medium_green);
  background-color: inherit;
}

.section .leftSidebar .container .nav .homeLiveButton:hover .homeLiveButtonIcon {
  color: var(--medium_green);
}

.section .leftSidebar .container .nav .activeTab {
  background-color: inherit;
  border: 1.5px solid var(--medium_green);
  color: var(--medium_green);
}

.section .leftSidebar .container .nav .activeTab .homeLiveButtonIcon {
  color: var(--medium_green);
}

.section .leftSidebar .container .leagues {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.section .leftSidebar .container .leagues .sidebarButton {
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid var(--white_900);
  width: 210px;
  transition: 0.3s;
  color: var(--white_900);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  column-gap: 13px;
  cursor: pointer;
}

.section .leftSidebar .container .leagues .sidebarButton.topEvents {
  margin-bottom: 32px;
}

.section .leftSidebar .container .leagues .sidebarButton .homeLiveButtonIcon {
  color: var(--white_900);
}

.section .leftSidebar .container .leagues .sidebarButton:hover {
  color: var(--medium_green);
  border: 1.5px solid var(--medium_green);
}

.section .leftSidebar .container .leagues .sidebarButton:hover .homeLiveButtonIcon {
  color: var(--medium_green);
}

.section .leftSidebar .container .leagues .sidebarButton:hover .sportIcon {
  color: var(--medium_green);
}

.section .leftSidebar .container .leagues .sidebarButton .sportIcon {
  min-width: 22px;
  color: var(--white_900);
  height: 22px;
}

.section .leftSidebar .container .leagues .sidebarButton .sportIcon svg {
  min-width: 22px;
  height: 22px;
}

.section .leftSidebar .container .leagues .sidebarButton .leagueIconSection {
  min-width: 0px !important;
}

.section .leftSidebar .container .leagues .sidebarButton .leagueIconSection .esportsIcon {
  width: 24px;
  height: 24px;
}

.section .leftSidebar .container .leagues .sidebarButton .leagueIconSection .leagueIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.section .leftSidebar .container .leagues .sidebarButton .gameNumber {
  width: 15px;
  height: 18px;
  background: rgba(0, 0, 0, 0.39);
  color: #fff;
  padding: 2px;
  border-radius: 3px;
}

.section .leftSidebar .container .leagues .sidebarButton img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.section .leftSidebar .container .leagues .activeTab {
  background-color: inherit;
  color: var(--medium_green);
  border: 1.5px solid var(--medium_green);
}

.section .leftSidebar .container .leagues .activeTab .sportIcon,
.section .leftSidebar .container .leagues .activeTab .homeLiveButtonIcon {
  color: var(--medium_green);
}

.section .leftSidebar .container .leagues .leagueNumber {
  width: 15px;
  height: 18px;
  background: rgba(0, 0, 0, 0.39);
  color: #fff;
  padding: 2px;
  border-radius: 3px;
}

.section .leftSidebar .container .nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

.section .cards {
  width: 65%;
  margin: 0 auto;
  height: calc(100vh - 100px);
  overflow-y: auto;
  max-width: 1920px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section .cards .historyLinks {
  width: 100%;
  height: 30px;
  border: 1px solid #c0bdbd;
}

@media only screen and (max-width: 360px) {
  .leftSidebar {
    display: none;
  }
  .cards {
    width: 100% !important;
    height: 248px;
  }
}

.soonIcon {
  color: var(--white_900);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 15px;
  background: linear-gradient(90.03deg, #0bf1ac -41.61%, #058465 105.53%);
  border-radius: 5px;
  position: absolute;
  top: -10px;
  right: -15px;
}

.hoverEffect {
  background: var(--hover_effect);
  filter: blur(10px);
  width: 32px;
  height: 32px;
  position: absolute;
  left: 16px;
  top: 11px;
}
