.leagues {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .sidebarButton {
    background-color: transparent;
    border-radius: 10px;
    border: 1.5px solid var(--white_900);
    transition: 0.3s;
    color: var(--white_900);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    column-gap: 13px;
    cursor: pointer;
    &.topEvents {
      margin-bottom: 32px;
    }
    .homeLiveButtonIcon {
      color: var(--white_900);
    }
    &:hover {
      color: var(--medium_green);
      border: 1.5px solid var(--medium_green);
      .homeLiveButtonIcon {
        color: var(--medium_green);
      }

      .sportIcon {
        color: var(--medium_green);
      }
    }
    .sportIcon {
      min-width: 22px;
      color: var(--white_900);
      height: 22px;

      svg {
        min-width: 22px;
        height: 22px;
      }
    }
    .leagueIconSection {
      min-width: 0px !important;
      .esportsIcon {
        width: 24px;
        height: 24px;
      }
      .leagueIcon {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
    .gameNumber {
      width: 15px;
      height: 18px;
      background: rgba(0, 0, 0, 0.39);
      color: #fff;
      padding: 2px;
      border-radius: 3px;
    }

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
  .activeTab {
    background-color: inherit;
    color: var(--medium_green);
    border: 1.5px solid var(--medium_green);

    .sportIcon,
    .homeLiveButtonIcon {
      color: var(--medium_green);
    }
  }
  .leagueNumber {
    width: 15px;
    height: 18px;
    color: #fff;
    padding: 2px;
    border-radius: 3px;
  }
}

.soonIcon {
  color: var(--white_900);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 15px;
  background: linear-gradient(90.03deg, #0bf1ac -41.61%, #058465 105.53%);
  border-radius: 5px;
  position: absolute;
  top: -10px;
  right: -15px;
}

.hoverEffect {
  background: var(--hover_effect);
  filter: blur(10px);
  width: 32px;
  height: 32px;
  position: absolute;
  left: 16px;
  top: 11px;
}
